html,
body {
    width: 100%;
    min-height:  90vh !important;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', monospace !important;
}

body {
    margin-top: 70px;
    /* background-color: #010101;
    color: #0f0; */
}

html {
    overflow-x: hidden;
}

#body {
    margin-top: 100px;
}

.active {
    color: #fff !important;
}

.nav-section {
    flex: 2;
    padding-left: 20px;
}

.navbar-custom {
    background-color: #010101;
    border-bottom: 1px solid #0f0;
    min-height: 70px;
    height: 70px;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: #0f0;
}


.navbar-custom .nav-link:hover {
    color: #fff;
}

/* navbarNav with class show */


#navbarNav {
    justify-content: space-between;
    flex-grow: 1;
    flex-direction: row;
    align-items: center;
    padding-right: 20px;
    width: 100%;
}




@media (max-width: 992px) {
    .navbar-collapse {
        background-color: #010101;
        border-top: 1px solid #0f0;
        z-index: 1;
        padding: 20px;
    }
}

.header-container {
    background-color: #010101;
    color: #0f0;
    display: flex;
    justify-content: space-between;
    width: 100%;  
    padding: 0 40px;
    height: 50px;
}

#logo-header {
    border-radius: 50%;
    border: 0.2px solid #0f0;
    width: 40px;
    height: 40px;
}

.icon-info {
    max-width: 16px;
}

#content img {
    max-width: 80%;
    height: auto;
    /* Center */
    display: block;
    margin-left: auto;
    margin-right: auto;
}


#container-detail {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#title {
    text-align: center;
}

/* Dark mode */
.dark-mode {
    background-color: #010101;
    color: #0f0;
}

.dark-mode .navbar-custom {
    background-color: #010101;
    border-bottom: 1px solid #0f0;
}

.dark-mode .navbar-custom .navbar-brand,
.dark-mode .navbar-custom .nav-link {
    color: #0f0;
}

.dark-mode .navbar-custom .nav-link:hover {
    color: #fff;
}

.dark-mode .header-container {
    background-color: #010101;
    color: #0f0;
}

.dark-mode #content img {
    max-width: 80%;
    height: auto;
    /* Center */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#footer {
    /* always place end of page */
    position: absolute;
    width: 100%;
}

.dark-mode #container-detail {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.dark-mode #title {
    text-align: center;
}

/* Light mode */
.light-mode {
    background-color: #fff;
    color: #000;
}

.light-mode .navbar-custom {
    background-color: #fff;
    border-bottom: 1px solid #000;
}

.light-mode .navbar-custom .navbar-brand,
.light-mode .navbar-custom .nav-link {
    color: #000;
}

.light-mode .navbar-custom .nav-link:hover {
    color: #fff;
}

.light-mode .header-container {
    background-color: #fff;
    color: #000;
}

.light-mode #content img {
    max-width: 80%;
    height: auto;
    /* Center */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.light-mode #container-detail {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.light-mode #title {
    text-align: center;
}

body.dark-mode {
    background-color: #333;
    color: #fff;
}


.form-check-input {
    cursor: pointer;
}

.form-check-label {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.form-check-label span {
    margin-right: 10px;
}

.form-switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

b {
    color: #0f0;
}

.timeline {
    position: relative;
    max-width: 100%;
    margin: 20px 0;
}

.timeline::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 6px;
    background: #ddd;
    left: 50%;
    transform: translateX(-50%);
}

.timeline-item {
    position: relative;
    margin: 20px 0;
    padding: 10px 40px;
    width: 50%;
    box-sizing: border-box;
}

.timeline-item:nth-child(odd) {
    left: 0;
}

.timeline-item:nth-child(even) {
    left: 50%;
}

.timeline-item::after {
    content: ' ';
    position: absolute;
    width: 25px;
    height: 25px;
    top: 15px;
    background-color: white;
    border: 4px solid #2196F3;
    border-radius: 50%;
    z-index: 1;
}

.timeline-item:nth-child(odd)::after {
    left: 100%;
    transform: translateX(-50%);
}

.timeline-item:nth-child(even)::after {
    left: 0;
    transform: translateX(-50%);
}

.timeline-item h5 {
    margin-top: 0;
}

.timeline-item p {
    margin-bottom: 0;
}

.timeline-item:nth-child(odd) {
    text-align: right;
}

.timeline-item:nth-child(even) {
    text-align: left;
}

.toc-h1 {
    margin-top: 40px;
}

.toc-h2 {
    margin-top: 20px;
    margin-left: 40px;
}

.toc-h3 {
    margin-left: 80px;
    margin-top: 10px;
}

#table-of-contents a {
    color: #0f0;
    text-decoration: none;
}

#table-of-contents a:hover {
    color: #fff;
}


/*  */

/* Glitch Effect */
.glitch {
    font-size: 3rem;
    position: relative;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    animation: glitch 1.5s infinite;
    text-align: center;
}

h1.glitch {
    position: relative;
    display: inline-block;
    /* Giúp thẻ h1 chỉ chiếm đủ không gian của nội dung */
    /* Màu chữ ban đầu */
}

.glitch::before,
.glitch::after {
    content: attr(data-text);
    /* Sử dụng thuộc tính data-text của thẻ h1 để lặp lại nội dung */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* Chiều rộng bằng với thẻ h1 */
    height: 100%;
    /* Chiều cao bằng với thẻ h1 */
    overflow: visible;
    /* Đảm bảo nội dung không bị cắt bớt */
}

.glitch::before {
    text-shadow: -2px 0 red;
    animation: glitchBefore 1.5s infinite;
}

.glitch::after {
    text-shadow: -2px 0 blue;
    animation: glitchAfter 1.5s infinite;
}

@keyframes glitch {
    0% {
        transform: none;
    }

    20% {
        transform: skew(-5deg);
    }

    40% {
        transform: skew(5deg);
    }

    60% {
        transform: none;
    }

    80% {
        transform: skew(-5deg);
    }

    100% {
        transform: none;
    }
}

@keyframes glitchBefore {
    0% {
        clip: rect(44px, 450px, 56px, 0);
        transform: translate(-2px, -2px);
    }

    20% {
        clip: rect(24px, 450px, 40px, 0);
        transform: translate(2px, 2px);
    }

    40%,
    60% {
        clip: rect(45px, 450px, 56px, 0);
        transform: translate(-2px, -2px);
    }

    80% {
        clip: rect(24px, 450px, 40px, 0);
        transform: translate(2px, 2px);
    }

    100% {
        clip: rect(44px, 450px, 56px, 0);
        transform: translate(-2px, -2px);
    }
}

@keyframes glitchAfter {
    0% {
        clip: rect(85px, 450px, 96px, 0);
        transform: translate(2px, 2px);
    }

    20% {
        clip: rect(24px, 450px, 40px, 0);
        transform: translate(-2px, -2px);
    }

    40%,
    60% {
        clip: rect(85px, 450px, 96px, 0);
        transform: translate(2px, 2px);
    }

    80% {
        clip: rect(24px, 450px, 40px, 0);
        transform: translate(-2px, -2px);
    }

    100% {
        clip: rect(85px, 450px, 96px, 0);
        transform: translate(2px, 2px);
    }
}

/* Banner Section */
.banner {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f9fa;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/images/banner/banner2.png');
    position: relative;
    text-align: center;
    color: #fff;
    z-index: 1;
}

.banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.banner .btn {
    padding: 12px 30px;
    font-size: 1.1rem;
    margin: 0 10px;
    transition: transform 03s ease, box-shadow 0.3s ease;
}

.banner .btn:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

/* Circle animation */
.has-circle {
    position: relative;
    z-index: 1;
}

.circle-1,
.circle-2,
.circle-3,
.circle-4,
.circle-5,
.circle-6,
.circle-7,
.circle-8,
.circle-9,
.circle-10 {
    position: absolute;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
}

.circle-1 {
    width: 50px;
    height: 50px;
    bottom: 50px;
    left: 50%;
    animation: float 6s ease-in-out infinite;
}

.circle-2 {
    width: 120px;
    height: 120px;
    bottom: 150px;
    right: 30%;
    animation: float 10s ease-in-out infinite;
}

.circle-3 {
    width: 30px;
    height: 30px;
    top: 60px;
    left: 20%;
    animation: float 8s ease-in-out infinite;
}

.circle-4 {
    width: 70px;
    height: 70px;
    top: 100px;
    right: 20%;
    animation: float 12s ease-in-out infinite;
}

.circle-5 {
    width: 80px;
    height: 80px;
    bottom: 200px;
    left: 30%;
    animation: float 14s ease-in-out infinite;
}

.circle-6 {
    width: 30px;
    height: 30px;
    top: 150px;
    right: 10%;
    animation: float 9s ease-in-out infinite;
}

.circle-7 {
    width: 90px;
    height: 90px;
    bottom: 300px;
    right: 40%;
    animation: float 11s ease-in-out infinite;
}

.circle-8 {
    width: 40px;
    height: 40px;
    top: 200px;
    left: 40%;
    animation: float 13s ease-in-out infinite;
}

.circle-9 {
    width: 30px;
    height: 30px;
    bottom: 250px;
    right: 50%;
    animation: float 7s ease-in-out infinite;
}

.circle-10 {
    width: 100px;
    height: 100px;
    top: 50px;
    left: 50%;
    animation: float 15s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

